<div class="page-content ">
    <div class="content-block-title">{{idioma.switch_language}}</div>
    <div class="list-block">
        <ul>
            <li>
                <label class="label-checkbox item-content">
                    <input class="language-radio" type="radio" name="language-radio" data-lang="es-co" />
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner">
                        <div class="item-title">Español</div>
                    </div>
                </label>
            </li>
            <li>
                <label class="label-checkbox item-content">
                    <input class="language-radio" type="radio" name="language-radio" data-lang="en-us" />
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner">
                        <div class="item-title">English</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div> 